@model OdeToFood.Models.AboutModel
@{
    ViewBag.Title = "About";
    ViewBag.Dynamicinfo = "This is the dynamic overridden view bag info.";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@Model.Name</h2>
</hgroup>

<div>ViewBag Info: @ViewBag.dynamicInfo</div>
<div>Location: @Model.Location</div>